In [1]:
# -*- coding: utf-8 -*-

# TP Python : ALGORITHMIQUE - REVISIONS DE 2nde
*********************
## Olivier THÖNI

## FACULTÉ d'ÉDUCATION UCO
*********************
*document sous licence Creative Commons - CC : By/NC/SA*

## La suite de Syracuse

*- Prenez un entier, s'il est pair, divisez-le par 2, sinon, multipliez-le par 3 et ajoutez 1*

In [2]:
n = int(input('Entrez un entier n : '))

if n%2 == 0 : 
# Que penser du test if n/2 ==int(n/2) : ?
# ou bien encore if n/2 == n//2 : ?
    print(n, ' pair.')
    n = n//2
    
else :
    print(n, ' impair.')
    n = 3*n + 1

print('n devient ', n)

Entrez un entier n : 5
5  impair.
n devient  16

*- Réitérez le procédé de Syracuse jusqu'à obtenir 1. (On fera confiance aux mathématiciens qui n'ont jamais constaté de contre-exemple...)*

In [3]:
n = int(input('Entrez un entier n : '))
print(n, " ", end = '')

while  n != 1 :
    if n%2 == 0 :
        n = n//2
        
    else :
        n = 3*n + 1

    print(n, " ", end = '')

Entrez un entier n : 7
7  22  11  34  17  52  26  13  40  20  10  5  16  8  4  2  1

*- Mesurez le temps de vol, c'est-à-dire le nombre d'états successifs de n de l'état initial jusqu'à 1*

In [4]:
n = int(input('Entrez un entier n : '))
print(n, " ", end = '')

temps2vol = 1

while  n != 1 :
    temps2vol = temps2vol + 1
    if n%2 == 0 :
        n = n//2
        
    else :
        n = 3*n + 1

    print(n, " ", end = '')
print()
print("Temps de vol : ", temps2vol)

Entrez un entier n : 7
7  22  11  34  17  52  26  13  40  20  10  5  16  8  4  2  1
Temps de vol :  17

*- Mesurez l'altitude, c'est-à-dire l'entier le plus élevé atteint pendant le "vol".*

In [5]:
n = int(input('Entrez un entier n : '))
print(n, " ", end = '')

temps2vol = 1
altitude = n

while  n != 1 :
    temps2vol = temps2vol + 1
    if n%2 == 0 :
        n = n//2
        
    else :
        n = 3*n + 1
        if n > altitude :
            altitude = n

    print(n, " ", end = '')
print()
print("Temps de vol : ", temps2vol)
print("Altitude : ", altitude)

Entrez un entier n : 7
7  22  11  34  17  52  26  13  40  20  10  5  16  8  4  2  1
Temps de vol :  17
Altitude :  52

*- Nul n'a jamais trouvé de contre-exemple à la conjecture suivante : 
 "Quel que soit l'entier choisi au départ, le processus de Syracuse rencontre toujours la valeur 1 !" 
 Sauriez-vous le prouver pour tous les entiers compris entre 1 et 5000 ? (là encore, question finitude, mieux vaut que la conjecture soit vraie...)

In [6]:
for k in range(1,5001) :
    n = k
    
    while  n != 1 :
        if n%2 == 0 :
            n = n//2
            
        else :
            n = 3*n + 1
    
    #print(k, " v, ", end = '')

print()
print("Terminé, conjecture vérifiée jusqu'à 5000")

Terminé, conjecture vérifiée jusqu'à 5000

*- Quand on effectue la vérification de la conjecture de 1 à 5000, quel est le record des temps de vol ? Pour quel entier de départ ? 
Quel est le record des altitudes ? Pour quel entier de départ ?*

In [7]:
record_temps2vol = 1
record_altitude = n

for k in range(1,5001) :
    n = k
    temps2vol = 1
    altitude = n

    while  n != 1 :
        temps2vol = temps2vol + 1
        if n%2 == 0 :
            n = n//2
            
        else :
            n = 3*n + 1
            if n > altitude :
                altitude = n
                
    if temps2vol > record_temps2vol :
        record_temps2vol = temps2vol
        k_record_tdv = k
    if altitude > record_altitude :
        record_altitude = altitude
        k_record_alt = k
    
    #print(k, " v, ", end = '')

print()
print("Terminé, conjecture vérifiée jusqu'à 5000")
print("Record des temps de vol : ", record_temps2vol, ", pour n = ", k_record_tdv)
print("Record des altitudes : ", record_altitude, ", pour n = ", k_record_alt)

Terminé, conjecture vérifiée jusqu'à 5000
Record des temps de vol :  238 , pour n =  3711
Record des altitudes :  8153620 , pour n =  4591